
      Have an account? <%= render "devise/shared/links" %>


<div class="container-fluid topmargin">
<div class="align-items-center centerblock">
<h3><b>Join Twitter today.</b></h3>

<%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :name, :placeholder => "Full Name", required: true, label: false %>
    <%= f.input :email, :placeholder => "Email", required: true, autofocus: true, label: false %>
    <%= f.input :password, :placeholder => "Password", required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length), label: false %>
    <%= f.input :password_confirmation,:placeholder => "Confirm Password", required: true, label: false %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, "Sign up" %>
  </div>
<% end %>
</div>
</div>
