<body class="home">

<nav class="navbar navbar-expand-lg navbar-light navbg ">

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav">
  <li class="nav-item active ">
    <a class="navlink" href="/home"><img src="assets/home.png", height="20px", width="20px"><b>Home</b><span class="sr-only">(current)</span></a>
  </li>
</ul>

  <div class="mx-auto">
 <%=image_tag("Twitter.png", height: '32', width: '32')%>
</div>


<form class="form-inline my-2 my-lg-0">
  <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

</form>
</div>
</nav>

<div class="text-center">
<%= notice %>
<%= alert %>
</div>
<br>
<br>
<br>


<div class="container">
  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-body text-center">
          <h4 class="card-title"><b><%= @user.name %></b></h4>
          <p class="card-text">
            <%= image_tag @user.avatar.url, :class => "img-fluid img" %><br><br>
            <%= @user.birthday %><br>
            <%= @user.bio %><br>
            <%= @user.country %><br>
            <% @user ||= current_user %>
            <div class="stats">
               <a>Tweets
                <strong id="following" class="stat">
                  <%= @user.tweets.count %>
                </strong></a>
                <a>Following
                  <strong id="following" class="stat">
                    <%= @user.followeds.count %>
                  </strong>
                </a>
                  <a>Followers
                  <strong id="followers" class="stat">
                    <%= @user.followers.count %>
                  </strong></a>
              </div>
            <br>
            <%= link_to 'Edit Profile', edit_user_registration_path, method: :get%>
            </ul>
          </p>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col">
          <div class="card">
      <div class="card-block text-center">
        <h3 class="card-title"><b>Hashtags</b></h3>

          <% @hashtags.each do |hashtag| %>
          <li><%= link_to hashtag.name, hashtag_path(hashtag.name) %></li>
        <% end -%>
        <br>

      </div>
    </div>


        </div>
      </div>
    </div>

    <div class="col">
      <div class="align-items-center centerblock">
        <div class="card">
          <div class="card-body">
            <%= render "partial/tweetform" %>
            <br><br>
            <hr>
            <% @tweets.each do |f| %>
            <div class ="messagetime">
            <%= link_to 'X', tweet_path(f), method: :delete, data: { confirm: 'Are you sure?'}, class: 'messagedelete' %>
            </div>
            <div class="info">
            <%= image_tag @user.avatar.url, :class => "img-fluid thumbnail"%>

            <b><%= @user.name %> </b>	•
            <%= f.created_at.strftime(" %d %B")  %><br>
            <%= f.message %>
            <hr>
            </div>
            <br><br>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <div class="col">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Who to follow</h4><br>

          <% @users.each do |user| %>
          <div class ="info text-center">
            <%= image_tag user.avatar.url, :class => "img-fluid followersicon"%>

            <%= link_to user.name, user_path(user) %>

            <% if current_user.following?(user) %>
              <%= render partial: "unfollow", locals: { user: user }  %>
            <% else %>
               <%= render partial: "follow", locals: { user: user } %>
            <% end %>
            <br>
          </div>

          <% end %>


          </div>
        </div>
    </div>
  </div>
</div>
